.selected{
    grid-column: 5/6;
}
.container-content{
    position: absolute;
    top:10vh;
    max-width: 800px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.container-content img{
    width: 200px;
    height: auto;
    margin-top: 10vh;
}
.content-contact p{
    font-size: 1.4rem;
    text-align: justify;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,auto);
    gap: 8px 10px;
}
input{
    height: 30px;
    border: 1px solid #747474;
    transition: 0.3s;
}
input:hover{
    border: 1px solid #000;
}
label{
    justify-self: left;
}
label[for=name]{
    grid-column: 1/2;
    grid-row: 1/2;
}
.name{
    grid-column: 1/2;
    grid-row: 2/3;
}
label[for=email]{
    grid-column: 2/3;
    grid-row: 1/2;
}
.email{
    grid-column: 2/3;
    grid-row: 2/3;
}
label[for=subject]{
    grid-column: 1/2;
    grid-row: 3/4;
}
.subject{
    grid-column: 1/3;
    grid-row: 4/5;
}
label[for=message]{
    grid-column: 1/2;
    grid-row: 5/5;
}
.message{
    grid-column: 1/3;
    grid-row: 6/7;
    height: 65px;
    border: 1px solid #747474;
}
.send-btn{
    grid-column: 1/3;
    grid-row: 7/8;
    height: 35px;
    width: 50%;
    justify-self: center;
    background-color: #fff;
    transition: 0.3s;
    border: 1px solid #000;
    cursor: pointer;
}
.send-btn:hover{
    background-color: #000;
    color: #fff;
}

@media (max-width: 700px) {
    .header-fixed > span > a{
        display: none;
    }
    .container-content{
        max-width: 100%;
        width: 100%;
        padding: 0px 10px;
    }
    label *{
        grid-column: 1/2;
    }
    label[for=name]{
        grid-row: 1/2;
    }
    .name{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    label[for=email]{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .email{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    label[for=subject]{
        grid-row: 5/6;
    }
    .subject{
        grid-row: 6/7;
    }
    label[for=message]{
        grid-row: 7/8;
    }
    .message{
        grid-column: 1/3;
        grid-row: 8/9;
    }
    .send-btn{
        grid-column: 1/3;
        grid-row: 9/10;;
    }
}