
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
 }
a{
    text-decoration: none;
    color: black;
}


.header-fixed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    align-items: center;
    height: 10vh;
    width: 100vw;
    z-index: 99;
    position: fixed;
    top: 0px;
}
.header-fixed span{
    width: 70%;
    justify-self: center;
}
.footer{
    display: flex;
    position: absolute;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    height: 10vh;
    width: 100%;
    bottom: 0px;
}
.footer img{
    margin-left: 20px;
    width: 32px;
    height: 32px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(5,0.1fr);
    grid-template-rows: 30px 2px;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}
.selected{
    background-color: #000;
    height: 100%;
}
.header-fixed > nav a{

    text-align: center;
    
}

/*responsive tablet view*/

@media (max-width: 700px) {
    .footer{
        position: fixed;
        bottom: 0px;
        width: 100vw;
        height: 10vh;
        justify-content: center;
    }
    .menu{
        grid-column: 1/3;
        grid-row: 1/3;
        margin-top: 8px;
    }
    .container{
        grid-template-rows: 10vh 73.19vh 10vh;
    }
}
@media (max-width: 520px) {
    .menu{
        column-gap: 0px;
        justify-content: space-evenly;
    }
}
